//--------------------
// Calendrier
//--------------------
.calendrierEvenements
{
    .container-calendrier{
        @include setFlex(column, space-between, center);
        position: relative;
        .calendrier-grid{
            @include setFlex(row, center, center);
            flex-wrap: wrap;
            column-gap: 1vw;
            row-gap: 1vw;
            width: 80vw;
            .calendrier-item{
                background-color: var(--dark);
                width: 10vw;
                height: 10vw;
                transition-duration: 500ms;
                &.case-evenement{
                    background-color: var(--accent);
                }
                &:hover{
                    background-color: var(--accentHeavy);
                }
                .popup{
                    display:none;
                }
            }
        }
        .calendrier-popup{
            @include setFlex(column, center, center);
            row-gap: 1vw;
            width: 80vw;
            height: 100%;
            padding: 1vw;
            transition-duration: 500ms;
            .popup{
                @include setFlex(column, center, center);
                row-gap: 1vw;
                padding: 2vw;
                background-color: var(--accent);
                transition-duration: 500ms;
                border-radius: 2vw;
                .nom-evenement{
                    font-weight: 300;
                    font-family: 'Roboto', sans-serif;
                    font-size: 3vw;
                    text-transform: uppercase;
                    color: var(--lightest);
                }
                .dates-evenement{
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    font-size: 2.4vw;
                    color: var(--lightest);
                }
                .description-evenement{
                    font-weight: 200;
                    font-family: 'Roboto', sans-serif;
                    font-size: 2vw;
                    color: var(--lightest);
                }
                .ville-evenement{
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    font-size: 2.3vw;
                    color: var(--lightest);
                }
                .prix-evenement{
                    font-weight: 600;
                    font-family: 'Roboto', sans-serif;
                    font-size: 2vw;
                    color: var(--lightest);
                }
            }
        }
        
        @include breakpoint-min(900){
            @include setFlex(row, space-between, center);
            .calendrier-grid{
                @include setFlex(row, center, center);
                column-gap: 0.5vw;
                row-gap: 0.5vw;
                width: 40vw;
                .calendrier-item{
                    width: 5vw;
                    height: 5vw;
                }
            }
            .calendrier-popup{
                width: 40vw;
                .popup
                {
                    .nom-evenement{
                        font-size: 2vw;
                    }
                    .dates-evenement{
                        font-size: 1.2vw;
                    }
                    .description-evenement{
                        font-size: 1vw;
                    }
                    .ville-evenement{
                        font-size: 1.2vw;
                    }
                    .prix-evenement{
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}