.container-carte{
    @include setFlex(column, center, center);
    width: 90vw;
    margin-top: 5vw;
    .container-liste{
        width: 100%;
        background-color: var(--accentHeavy);
        padding: 2vw;
        border-radius: 3vw;
    }
    .container-background-carte{
        width: 90vw;
        height: 90vw;
    
        img{
            position: absolute;
            width: 90vw;
            opacity: 0.1;
            transition-duration: 500ms;
        }
    }
    @include breakpoint-min(900){
        @include setFlex(row, space-around, flex-start);
        width: 70vw;
        margin-top: -4vw;
        .container-liste{
            width: 20vw;
            margin-top: 5vw;
        }
        .container-background-carte{
            width: 50vw;
            height: 50vw;
            img{
                width: 50vw;
            }
        }
    }
}
.liste-carte{
    @include setFlex(row, space-around, center);
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 2vw;
    padding: 0;
    margin: 0;
    @include breakpoint-min(900){
        @include setFlex(column, space-around, center);
    }
}
.item-carte{
    @include setFlex(row, center, center);
    background-color: var(--accent);
    border: 0.2vw solid var(--accent);
    border-radius: 100vw;
    padding: 0.5vw 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    color: var(--lightest)!important;
    transition-duration: 500ms;
    &:hover{
        background-color: var(--accentHeavy);
    }
    @include breakpoint-min(900){
        padding: 0.5vw 1vw;
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
    }
}