@import '_felixHeader';
@import '_felixFooter';
@import '_felixActivitesPopulaires';
@import '_felixCalendrier';
@import '_felixLogements';
@import '_felixCarte';
@import '_felixEntreprise';

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
//--------------------
// Fil d'Ariane
//--------------------
.fil-ariane
{
    @include setFlex(row, center, center);
    height: 10vw;
    background-color: var(--dark);
    color: var(--light);
    ul{
        @include setFlex(row, center, flex-start);
        li{
            font-size: 2vw;
            margin: 1vw;
        }
    }
    @include breakpoint-min(900){
        height: 5vw;
        ul{
            li{
                font-size: 1vw;
                margin: 1vw;
            }
        }
    }
}

//--------------------
// Section de contenu de la page
//--------------------
section
{
    padding: 10vw 5vw;
    .container-titre{
        position: relative;
        h2{
            margin: 0;
            font-size: 3vw;
            font-family: 'Koulen', cursive;
            opacity: 1;
            color: var(--accent);
        }
        .titre2{
            position: absolute;
            left: 30vw;
            top: 7vw;
        }
        .titre-accent{
            transform: translate(3vw, -3.5vw);
            font-weight: 200;
            font-family: 'Roboto', sans-serif;
            font-size: 8vw;
            text-transform: uppercase;
            color: var(--darkest);
        }
    }
    @include breakpoint-min(900){
        padding: 10vw 10vw;
        .container-titre{
            margin-bottom: 5vw;
            h2{
                font-size: 2vw;
            }
            .titre2{
                position: absolute;
                left: 20vw;
                top: 5vw;
            }
            .titre-accent{
                transform: translate(3vw, -3vw);
                font-size: 7vw;
            }
        }
    }
}

//--------------------
// Introduction
//--------------------
.introduction
{
    position: relative;
    height: fit-content;
    background-color: var(--lighter);
    .container-introduction{
        @include setFlex(row, space-around, center);
        .container-img-introduction{
            @include setFlex(column, space-around, flex-start);
            position: absolute;
            opacity: 0.1;
            img{
                display: none;
                width: 50vw;
                &:first-of-type{
                    display: block;
                }
            }  
        }
        p{
            margin: 0;
            width: 80vw;
            font-size: 4vw;
        }
    }
    @include breakpoint-min(900){
        .container-introduction{
            .container-img-introduction{
                position: relative;
                height: auto;
                width: 15vw;
                opacity: 1;
                img{
                    display: block;
                    width: 8vw;
                    &:nth-of-type(2){
                        align-self: flex-end;       
                    }
                }  
            }
            p{
                width: 50vw;
                font-size: 1.5vw;
            }
        }
    }
}

