//--------------------
// Menu
//--------------------
#container-menu{
    @include setFlex(row, center, center);
    position: fixed;
    top: 0;
    z-index: 1000;
}
#nav-principale {
    @include setFlex(column, flex-start, flex-start);
}
//--------------------
// Bouton ouverture menu
//--------------------
.zone-btn {
    @include setFlex(row-reverse, flex-start, flex-start);
    position: relative;
    height: auto;
    width: 100%;
    transition-duration: 1000ms;
    background-color: var(--darker);
    .btn-ouvrirPanneau {
        @include setFlex(column, center, center);
        margin: 16px;
        width: 32px;
        height: 32px;
        background-color: white;
        color: var(--lilas3);
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: var(--dark);
        }
        &:disabled {
            background-color: rgba(255, 255, 255, 0.26);
            border: 1px solid rgba(255, 255, 255, 0.35);
            color: var(--darker);
        }
    }
}

//--------------------
// Panneau du menu
//--------------------
.container-panneau{
    @include setFlex(column, center, flex-start);
}
.panneau {
    @include setFlex(column, center, flex-start);
    position: relative;
    overflow: hidden;
    transition-duration: 1000ms;
    background-color: var(--lightest);
    &.panneau-close{
        height: 0;
        width: 0;
    }
    &.panneau-open{
        height: 30vh;
        width: 100vw;
    }

    h2{
        margin: 8px 8px;
        font-size: 1rem;
    }
    @include breakpoint-min(900){
        @include setFlex(row, space-between, center);
        h2{
            margin: 2vw;
            font-size: 2.4rem;
        }
    }
}
.panneau2 {
    @extend .panneau;
    background-color: var(--lighter);
}
.panneau3 {
    @extend .panneau;
    background-color: var(--light);
}

//--------------------
// Ul du menu
//--------------------
.menu1 {
    @include setFlex(row, center, center);
    padding: 2vw;
    flex-wrap: wrap;
    row-gap: 0.5vw;
    column-gap: 2vw;
    z-index: 100;
    width: 100%;
    list-style: none;
    li{
        padding: 2px 2px;
        transition-duration: 500ms;
        &:hover {
            background-color: var(--lighter) !important;
            button {
                color: var(--darkest);
            }
        }
        &.active {
            opacity: 0.3;
            background-color: var(--lighter) !important;
            button {
                color: var(--darkest);
            }
        }
        button {
            font-size: 3vw;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            color: var(--darker) !important;
            font-weight: 300;
            border: none;
            background: none;
        }
    }
    @include breakpoint-min(900){
        li{    
            padding: 0.5vw;
            &:hover {
                padding: 0.5vw;
            }
            &.active {
                padding: 0.5vw;
            }
            button {
                font-size: 2vw;
                font-weight: 100;
                line-height: 2.4rem;
            }
        }
    }
}

.menu2{
    @extend .menu1;
    li{
        &:hover {
            background-color: var(--light) !important;
        }
        &.active {
            color: var(--light) !important;
        }
    }
}

.menu3{
    @extend .menu1;
    li{
        &:hover {
            background-color: var(--dark) !important;
        }
        &.active {
            color: var(--dark) !important;
        }
    }
}
