//--------------------
// Menu
//--------------------
section.rechercheFiltree{
    height: auto;
    form{
        @include setFlex(column, space-between, flex-start);
        row-gap: 2vw;
        input.barreRecherche{
            width: 90vw;
            border-radius: 100vw;
            height: auto;
            padding: 0.2vw 2vw;
            border: 0.2vw solid var(--dark);
            font-size: 5vw;
        }
        .filtresEtResultats{
            @include setFlex(row, space-between, center);
            flex-wrap: wrap;
            width: 100%;
            row-gap: 2vw;
            fieldset{
                @include setFlex(column, space-around, center);
                flex-wrap: wrap;
                row-gap: 2vw;
                background-color: var(--lighter);
                column-gap: 1vw;
                padding: 1vw;
                border-radius: 2vw;
                .container{
                    position: relative;
                    width: auto;
                    height: auto;
                    text-align: center;
                    font-size: 4vw;
                    border-radius: 100vw;
                    background-color: var(--lightest);
                    color: var(--dark);
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1000;
                        &:checked ~ .checkmark {
                            border: 0.2vw solid var(--accent);
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 100vw;
                        transition-duration: 500ms;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }
                    &:hover input ~ .checkmark {
                        border: 0.2vw solid var(--accent);
                    }
                }
            }
            button{
                margin: 0.2vw;
                padding: 0.2vw 2vw;
                border-radius: 100vw;
                border-color: var(--accent);
                font-size: 5vw;
                font-family: 'Roboto', sans-serif;
                color: var(--dark);
                background-color: var(--accent);
                font-weight: 300;
            }
            .resultats{
                @include setFlex(row, center, center);
                flex-wrap: wrap;
                column-gap: 2vw;
                width: 100%;
                height: auto;
                p{
                    padding: 1vw 3vw;
                    height: auto;
                    border: 0.1vw solid var(--accent);
                    border-radius: 100vw;
                    font-size: 3vw;
                    font-family: 'Roboto', sans-serif;
                    color: var(--dark);
                    font-weight: 300;
                }
            }
        }
    }
    @include breakpoint-min(900){
        form{
            input.barreRecherche{
                width: 100%;
                border-radius: 100vw;
                height: auto;
                padding: 0.2vw 2vw;
                font-size: 2vw;
            }
            .filtresEtResultats{
                column-gap: 0.4vw;
                fieldset{
                    @include setFlex(row, space-between, center);
                    column-gap: 0.4vw;
                    padding: 0.3vw;
                    .container{
                        padding: 0.2vw 0.4vw;
                        font-size: 1.2vw;
                    }
                }
                button{
                    margin: 0.2vw;
                    padding: 0.2vw 2vw;
                    font-size: 1.5vw;
                }
                .resultats{
                    @include setFlex(row, center, center);
                    flex-wrap: wrap;
                    column-gap: 1vw;
                    width: auto;
                    height: auto;
                    p{
                        padding: 0.2vw 1vw;
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}