:root {   
    --lightest: #ffffff;
    --lighter: #eeeeee;
    --light: #dddddd;
    --accent: #F15D5C;
    --accentContrast: #1A8F3B;
    --accentHeavy: #8F4545;
    --dark: #424242;
    --darker: #303030;
    --darkest: #202020;
}   