//mixins

@mixin setFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin debug {
    border: 1px red solid;
}

@mixin breakpoint-min($screen) {
    @media (min-width: #{$screen}px) {
        @content;
    }
}

@mixin breakpoint-max($screen) {
    @media (min-width: #{$screen}px) {
        @content;
    }
}

@mixin resetBox {
    padding: 0;
    margin: 0;
}

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');


//SCSS Gestion de membres admin
.conteneurGestionMembre {
    @include setFlex(row, center, center);
    width: 100%; // change pour follow dashmenu
    position: absolute;
    top: 100px;
    right: 0;
    flex-wrap: wrap;
    gap: 50px;

    &>.carteGestionMembre {
        @include setFlex(column, center, center);
        gap: 10px;
        width: 250px;
        height: 350px;
        background-color: #eee;
        border: solid 1px #cfcfcf;
        box-shadow: 0px 11px 15px 5px rgba(0, 0, 0, 0.21);
        border-radius: 15px;
        padding: 8px;


        &>.imgCarteGestion {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.11)
        }

        li {
            list-style: none;

            &>.entrepriseNom {
                width: 230px;
                height: 58px;
                position: relative;
                font-family: 'Roboto', sans-serif;
                color: #f25c5c;
                font-size: 18px;
                font-weight: 500;
                display: inline-block;
                text-align: center;



                &>button {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 180px;
                    right: 0;
                    top: -180px;
                    text-align: center;
                    color: #f25c5c;
                    font-size: 24px;
                    background-color: transparent;
                    border: none;
                    text-decoration: none;

                    &:hover {
                        animation: heart 1s;
                        animation-iteration-count: infinite;
                    }

                    @keyframes heart {
                        0% {
                            transform: scale(1);
                        }

                        25% {
                            transform: scale(0.75);
                        }

                        50% {
                            transform: scale(1);
                        }

                        75% {
                            transform: scale(0.75);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }

                }
            }
        }

        &>button {
            border: none;


            &>a {
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                color: #A5A5A5;

                &:hover {
                    color: #464646;
                }
            }

            &>i {
                color: #A5A5A5;

                &:hover {
                    color: #464646;
                }
            }
        }

        &>.btnModifMembre {
            position: relative;


            &::before {
                position: absolute;
                content: '';
                width: 200px;
                height: 2px;
                display: block;
                background: #dadada;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                top: -10px;
            }
        }
    }

    &>.pagination {
        @include setFlex(column, center, center);

        font-family: 'Roboto', sans-serif;

        &>nav {
            @include setFlex(column, center, center);

            &>div {
                margin-bottom: 20px;

                &>span {
                    color: #f25c5c;
                    border-color: #f25c5c;
                    border-width: 2px;
                    font-family: 'Roboto', sans-serif;

                }

                &>a {
                    color: #f25c5c;
                    border-color: #f25c5c;
                    border-width: 2px;
                    font-family: 'Roboto', sans-serif;

                }

                &>div {
                    @include setFlex(column, center, center);
                    text-align: center;

                    &>p {
                        color: #f25c5c;
                        font-family: 'Roboto', sans-serif;

                        &>.font-medium {
                            color: #f25c5c;
                            border-color: #f25c5c;
                            border-width: 2px;
                            font-family: 'Roboto', sans-serif;
                        }
                    }

                    &>span {
                        &>span {
                            color: #f25c5c;
                            font-family: 'Roboto', sans-serif;


                        }

                        &>a {
                            color: #f25c5c;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
            }
        }
    }

    .btnGestionAjouter {
        @include setFlex(column, center, center);
        position: absolute;
        border: none;
        background-color: transparent;
        top: -70px;

        &>a {
            @include setFlex(row, center, center);
            border: 3px solid #f25c5c;
            border-radius: 30px;
            height: 40px;
            width: 240px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: #f25c5c;
            font-size: 16px;
            gap: 10px;
            transition-duration: 300ms;

            &>i {
                color: #f25c5c;
                font-size: 14px;
                transition-duration: 300ms;
            }
        }

        &>a:hover {
            background-color: #f25c5c;
        }

        &>a:hover,
        &>a:hover>i {
            color: #eee;
            transform: scale(1.1);
        }


    }

    .relative.z-0.inline-flex.shadow-sm.rounded-md {
        display: inline;
        background-color: transparent;
        box-shadow: none !important;

    }

}
