//Mixins Temporaire-----------------------------------------------
//----------------------------------------------------------------

@mixin setFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//---------------------------------------------------------------
//Typos
//----------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


//---------------------------------------------------------------
//Dashboard User 
//---------------------------------------------------------------

.conteneurDashboard {
    width: 100vw;
    height: 100vh;
    // overflow: hidden; // cache la scrollbar
    @include setFlex(row, start, center);
    // background-color: grey;

    .conteneurSidebar {
        position: fixed;
        width: 420px;
        height: 100vh;
        background-color: #FF6868;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        transition-duration: 800ms;
        overflow: hidden;
        z-index: 2;

        &>.conteneurSidebarTop {
            background-color: #db4c4c;
            padding: 24px 0px 24px 32px;
            font-weight: 600;

            &>.dashboardLink {
                color: white;
                font-family: 'Roboto', sans-serif;
            }
        }

        &>.conteneurSidebarFavoris {
            &>a {
                pointer-events: none;
            }

            &>i {
                transition-duration: 200ms;
            }
        }

        &>.conteneurSideBarSousFavoris {
            //display: none;
            overflow: hidden;
            transition-duration: 200ms;
            height: 0%;

            .sousFav {
                padding: 24px 0px 24px 32px;
            }
        }

        &>.conteneurSidebarSetting {
            border-bottom: 2px solid white;

        }

        &>.conteneurSidebarDisconnect {
            margin-top: auto;
        }

        i {
            font-size: 24px;
            color: white;

            &:hover {
                transform: scale(1.1);
                transition-duration: 200ms;
            }
        }

        a {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            color: white;
            text-decoration: none;
            margin-left: 16px;
            transition-duration: 200ms;
            display: inline-block;
            text-align: left;
            left: 50px;
        }

        a::after {
            content: '';
            width: 0px;
            height: 2px;
            display: block;
            background: white;
            transition: 300ms;

        }

        a:hover::after {
            width: 100%;
        }
    }


}

.conteneurSidebarAll {
    background-color: #FF6868;
    border-top: 2px solid white;
    padding: 24px 0px 24px 32px;
    transition-duration: 200ms;

    &:hover {
        background-color: #ff9f9f;
    }
}
