//mixins

@mixin setFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin debug {
    border: 1px red solid;
}

@mixin breakpoint-min($screen) {
    @media (min-width: #{$screen}px) {
        @content;
    }
}

@mixin breakpoint-max($screen) {
    @media (min-width: #{$screen}px) {
        @content;
    }
}

@mixin resetBox {
    padding: 0;
    margin: 0;
}

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

//SCSS admin gestion events

.containerEvenenement {
    &>.container {
        @include setFlex(row, center, center);
        flex-wrap: wrap;
        height: 50vw;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        gap: 20px;

        h3 {
            @include setFlex(row, center, center);
            width: 50vw;
            font-family: 'Teko', sans-serif;
            font-size: 48px;
        }

        &>.evenement {
            @include setFlex(column, center, center);
            background-color: #eee;
            width: 400px;
            height: 200px;
            margin-top: 50px;
            box-shadow: 0px 11px 15px 5px rgba(0, 0, 0, 0.21);
            border-radius: 20px;

            &>.button {
                margin-bottom: 20px;

                &>a {
                    text-transform: capitalize;
                    overflow: hidden;
                    font-family: 'Roboto', sans-serif;
                    color: #1D1D1D;
                    font-size: 20px;
                    font-weight: 400;
                    text-decoration: underline;
                    text-decoration-color: #1d1d1d62;
                }
            }

            .choix {
                .button {

                    &>a {
                        @include setFlex(column, center, center);
                        background-color: #f25c5c;
                        height: 30px;
                        width: 120px;
                        border-radius: 20px;
                        color: #eee;
                        font-family: 'Roboto', sans-serif;



                        &:hover {
                            background-color: #f87c7c;
                            color: white;
                            transition-duration: 300ms;
                            transform: scale(1.1);
                            transform: scale(1.05);
                            box-shadow: 0 0 1px 10px rgba(#ff8f8f, 0.4),
                                0 0 1px 15px rgba(#ff8f8f, 0.1),
                                0 0 1px 20px rgba(#ff8f8f, 0.1);
                        }
                    }
                }
            }
        }
    }

    .btnModifierFini {
        @include setFlex(column, center, center);
        background-color: #f25c5c;
        height: 30px;
        width: 100px;
        border-radius: 20px;
        padding: 16px;
        transition-duration: 300ms;

        &:hover {
            background-color: #f87c7c;
            color: white;
            transform: scale(1.1);
            transform: scale(1.05);
            box-shadow: 0 0 1px 10px rgba(#ff8f8f, 0.4),
                0 0 1px 15px rgba(#ff8f8f, 0.1),
                0 0 1px 20px rgba(#ff8f8f, 0.1);
        }

        a {
            font-family: 'Roboto', sans-serif;
            color: #eee;
        }
    }

    .pFini {
        font-family: 'Roboto', sans-serif;
        margin-top: 16px;
    }

    .choix1 {
        margin-bottom: 16px;
    }

    .pDate {
        font-family: 'Roboto', sans-serif;
        color: #f25c5c;

        &::after {
            content: '';
            margin: 0 auto;
            width: 0px;
            height: 2px;
            display: block;
            color: #f25c5c;
            transition: 300ms;
        }

        &:hover::after {
            width: 100%;
            margin: 0 auto;
        }
    }
}
